@model ExerciseProgram.WebUI.Models.ExerciseListViewModel
@{ 
    ViewBag.Title = "Exercises";
}
@foreach (var e in Model.Exercises)
{
    @Html.Partial("ExerciseSummary", e)
}

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>