@model ExerciseProgram.WebUI.Models.ExerciseListViewModel
@{ 
    ViewBag.Title = "Exercises";
}
@foreach (var e in Model.Exercises)
{
    <div>
        <h3>@e.exerciseName</h3>
        @e.exerciseDesc
        <h4>@e.exerciseMax</h4>
    </div>
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>