@using ExerciseProgram.Domain.Entities
@model IEnumerable<Exercise>
@{ 
    ViewBag.Title = "Exercises";
}
@foreach (var e in Model)
{
    <div>
        <h3>@e.exerciseName</h3>
        @e.exerciseDesc
        <h4>@e.exerciseMax</h4>
    </div>
}