<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
        <!-- TODO - Change the look of app to liking -->
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#">EXERCISE PROGRAM</a>
    </div>
    <div class="row panel">
        <div id="categories" class="col-xs-3">
            THIS IS AN APP FOR EXERCISE AND CALCULATIONS
        </div>
        <div class="col-xs-8">
            @RenderBody()
        </div>
    </div>
</body>
</html>