@model IEnumerable<string>

<div class="btn btn-group">
    @Html.ActionLink("All", "Index", "Exercise", null,
    new { @class = "btn btn-info" })

    @foreach (var link in Model)
    {
        @Html.RouteLink(link, new
        {
            controller = "Exercise",
            action = "Index",
            category = link,
            page = 1
        }, new
        {
            @class = "btn btn-info"
            + (link == ViewBag.SelectedCategory ? " btn-danger" : "")
        })
    }
</div>
