@model ExerciseProgram.Domain.Concrete.Plate
@{
    ViewBag.Title = "Index";
}

<h2>Plates</h2>

<div>
    This will eventually display the plate weight information for the exercise details that were being viewed.
    <br />
    @{ 
        @Model.PlateWeight(305);
    }
</div>