@model ExerciseProgram.WebUI.Models.PlateIndexViewModel
@{
    ViewBag.Title = "Total for Plates: ";
}

<h2>Your Plates</h2>
<table class="table">
    <thead>
        <tr>
            <th>5 Rep Max</th>
            <th>Exercise</th>
            <th class="text-right">5 Rep Max</th>
            <th class="text-right">Plates</th>
        </tr>
    </thead>
    <tbody>
        @Model.Plate.ComputeTotalPlates()
    </tbody>
</table>