@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<h4>
    Bill Starr 5x5 - Linear Version for Intermediate Lifters
</h4>
<p>
      "This program is based on weekly linear progress.  You take your current 5 rep maxes (5RM) and work up 
    to them systematically by increasing weights in steady increments over 3-4 weeks.  You then hit your 
    current 5RM on lifts and continue these incremental increases week to week which pushes you further 
    and further out making new personal records (PRs) every week until you stall on the majority of your 
    lifts.  If you miss reps, keep the weight constant the next week and don't move it up until you get 
    all 5x5.  When you eventually stall on the majority of lifts, and you will, meaning something like 
    several weeks of no progress in that you can't add reps or weight, you'll have to reset lower back 
    several weeks and begin again.  If it's just one lift that has you stuck, reset on that and work up again 
    but don't restart the whole program.  When restarting the whole program, a lot of times changing 
    variables is also helpful here.  I'm not going to cover that.  Training is a blend of art and science, 
    and knowing what parameters to change for a given lifter is more art.  This is a cookie-cutter, it's 
    meant to get you big and strong, and more importantly training correctly.  The best programs are always 
    tailored to a given trainee so being your own coach, you have to learn and seek out knowledge.
    Rep speed is natural, time between sets is what you need.  Don't rapid fire compound lifts but don't be
    lazy.  2-5 minutes is probably right with 5 minutes being needed after a very taxing effort."
    <br />
    <br />
    All information regarding this technique can be found on the site listed below!
</p>
<strong>Reference:</strong>   <a href="https://stronglifts.com/madcow/5x5_Program/Linear_5x5.htm">Bill Starr 5x5</a><br />
