@{
    ViewBag.Title = "Contact";
}
<h1>@ViewBag.Title</h1>
<h2>@ViewBag.Message</h2>

    <address>
        Happy Town-Way<br />
        SmileVille, NC 66666<br />
        <abbr title="Phone Number">Phone #:</abbr>
        509-675-5096
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:AwesomeApplicationForExercising@example.com">AwesomeApplicationForExercising@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:GimmeMoneyForThisApplication@example.com">GimmeMoneyForThisApplication@example.com</a>
    </address>