@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron " style="background-image:url(../../Content/GymPictureJumbo.jpg)">
    <div class="normal">
        <h1 style="color:white;">Exercise Program</h1>
        <p class="lead" style="color:white;">This is a program to help you do the math on your lifts for a 5 x 5 program based on the Bill Starr 5x5 method, Linear Version for Intermediate Lifters!</p>
        <h4>
            @Html.ActionLink("Learn More", "About")
        </h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <h2>Welcome to my Exercie web-application!</h2>
        <p>
            This application is currently still in development, but feel free to use the features it currently has, and contact me about any bugs you find! This project can be found on my github <a href="https://github.com/HEFLINGA/ExerciseClassProject">here</a>. If you have any input or suggestions, leave them there for me to see. First and foremost this is an application to help you get to the gym and lift without worrying about the math for each set, or how many plates to slap on. For more about what specific program this application follows for all the math done on your 5 rep maxs', please visit the @Html.ActionLink("About","About") page!
        </p>
    </div>
</div>
