@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Exercise Program</h1>
    <p class="lead">This is a program to help you do the math on your lifts for a 5 x 5 program based on the Bill Starr 5x5 method, Linear Version for Intermediate Lifters!</p>
<div class="btn btn-info">
    @Html.ActionLink("Learn More", "About")
</div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to my Exercise Program!</h2>
        <p>
            Thank you for coming! Application is currently still in the process of being constructed.
        </p>
    </div>
</div>